$bg-color:#001087;
$teal:#42FFEC;
html{
    font-size: 6px;
}
.animation{
    height: 100vh;
    display: flex;
    width: 100%;
    overflow: hidden;
    background-color: $bg-color;
}
.bucket{
    height:40rem;
    padding:0 8.6rem;
   // transform: rotate(90deg);
    position: relative;
    img{
        margin-left: 4rem;
        transform: translateY(-3rem);
        height: 100%;
    }
}
.m{
    color:white;
    font-size: 2rem;
    position: absolute;
    left: 1rem;
    top: .1rem;
}
.ms{
    color:white;
    
    position: absolute;
    right: -10rem;
    font-size: 3rem;
    bottom: 19rem;
}
.sbox{
    position: absolute;
   // background-color: red;
    height: 60px;
    width: 40%;
    bottom: 6rem;
    right: 15rem;
    display: flex;
    justify-content: space-between;
    &-box{
        height: 30px;
        width: 30px;
        background-color: $teal;
    }
}
.box{
    background-color: greenyellow;
    height: 5rem;
    width: 5rem;
    display: inline-block;
}
.boxs{
    background-color: greenyellow;
    height: 5rem;
    width: 5rem;
    display: inline-block;
   
    
}
.box2{
    background-color: greenyellow;
    height: 5rem;
    width: 5rem;
    display: inline-block;
    position: absolute;
    top: -8.5rem;
    transform: translateY(17rem);
}
.box2m{
    background-color: greenyellow;
    height: 5rem;
    width: 5rem;
    display: inline-block;
    position: absolute;
    top: -8.5rem;
    transform: translateY(30rem);
}
.box3{
    background-color: greenyellow;
    height: 5rem;
    width: 5rem;
    display: inline-block;
    position: absolute;
    bottom: 14.2rem;
    right: 18.9rem;
    margin: .2rem 0;
    opacity: 0;
}
.box4{
    background-color: greenyellow;
    height: 5rem;
    width: 5rem;
    display: inline-block;
    position: absolute;
    bottom: 4.6rem;
    right: 18.9rem;
    margin: .2rem 0;
    opacity: 0;
}
body{
    margin: 0;
    box-sizing: border-box;
}
.first{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 33.33vw;
}
.design{
    width: 95%;
    border:3px solid chocolate;
    border-radius: .2rem;
    height: 38rem;
    &_text{
        text-align: left;
        color:white;
        font-size: 4rem;
        padding-left: 3rem;
    }
}
.straight-bar{
    transform: translateY(10rem) translateX(3rem);
}
.arrow {
    // translateX(56px - 138) translateY(-31px) rotate(90deg)
    position: relative;
    & img{
        position: absolute;
        transform: translateX('5.6rem') translateY(-48) rotate((90deg));
        height: 13px;
    }
}
.cont {
    display: flex;
    align-items: stretch;
    height: 20rem;
    width: 100%;
    margin-top: 39rem;
}
.barh1,.barh2,.barh3{
    height: 4px;
    background: $teal;
    width: 1rem;
    margin: 2rem 10rem;
    transform-origin: left;
    position: relative;
    

}
.third{
    
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 44.33vw;
    align-items: center;
    transform: translateX(-44rem);
}
.fourth{
    
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 22.33vw;
    align-items: center;
    transform: translateX(-28rem);
}
.bar1,.bar2{
   // border-top-right-radius: 50px;
   // border-bottom-right-radius: 50px;
}
.bar1{
    position: relative;
   // transform: translateY(10rem);
   
   &:after{
       content: "";
       display: inline-block;
       position: absolute;
       right: -1.5rem;
       bottom: 0.6rem;
       //opacity: .7;
       height: 3rem;
       width: 3rem;
       transform: rotate(45deg);
       background-color: inherit;
   }
    width: 17.3rem;
    height: 4rem;
    background-color: $teal;
}
.bar2{
  //  transform: translateY(0px);
    width: 17.3rem;
    height: 4rem;
    background-color: $teal;
    &:after{
        content: "";
        display: inline-block;
        position: absolute;
        right: -1.5rem;
        bottom: 0.6rem;
        //opacity: .7;
        height: 3rem;
        width: 3rem;
        transform: rotate(45deg);
        background-color: inherit;
    }
}
.bar3{
    transform: translateY(-30.3rem);
    width: 32.3rem;
    height: 20rem;
    background-color:$teal ;
    position: relative;
    z-index: -1;
    border-top-right-radius: 100px;
   border-bottom-right-radius: 100px;
    color:white;
    padding:3rem;
    font-weight:500;
   // overflow: hidden;
    font-size: 2rem;
    background-color: $teal;
    
}
.designc{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    position: relative;
    & img{
        height: 100px;
    }
}
.design_box{
    color:white;
   
 //  margin-top: 5rem;
    margin: 5rem;
   // display: flex;
    box-sizing: border-box;
    span{
        display: block;
        font-size: 3rem;
        text-align: center;

    }
    img{
        height: 10rem;
    }
    img:nth-child(2){
        height: 7rem;
    }
    border:3px solid greenyellow;
}
.ps{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    
}
.second{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 33.33vw;
    
}
.desc{
    margin: 4rem 0;
    display: flex;
    padding: 0 7rem;
   // justify-content: space-around;
    align-items: center;
    img:nth-child(1){
        height: 23rem;
    }
    img:nth-child(2){
        height: 17rem;
    }
}
.cascet ,.design{
   & .text{
       color:white;
       height: 3rem;
       font-size: 5rem;
       text-align: center;
       margin-bottom: 3rem;
   }
    width: 77%;
    height: 31rem;
    
    border-radius: 2rem;
    border:10px solid greenyellow;
  //  background-color: red;
    /* transform: translate(10px, 10px); */
    position: relative;
    transform: translateY(-4rem) translateX(10rem);
    
}
.mps{
    position: absolute;
    left: 30%;
    top: 40%;
    height: 8rem;
    width: 5rem;

    background-color: yellowgreen;
}
.down1{
    position: absolute;
    bottom: 0;
    left: 50%;
    
        transform: translateX(3rem);
    
}
.down2{
    position: absolute;
    bottom: 0;
    left: 50%;
    background-color: yellowgreen;
        transform: translateX(-12rem);
    
}
.events {
    display: flex;
    position: absolute;
    bottom: 16rem;
    left: 17rem;
    height: 8rem;
    width: 55%;
    box-sizing: border-box;
    justify-content: space-around;
    transform: rotate(90deg);
}

.event{
    height: 5rem;
    width: 5rem;
    background-color: $teal;

}
.bb {
        position: relative;
        margin-top: 28rem;
        height: 41rem;
        width: 100%;
    
   img{
       transform: rotateZ(270deg);
       height: 100%;
   }
}
.bb2 {
    height: 30rem;
    width: 100%;
    background-color: $teal;
    margin-top: 8rem;
    border-top-left-radius: 13rem;
    border-bottom-left-radius: 13rem;
}
.cloud{
   
    &_text{
        position: absolute;
        left: 30rem;
        bottom: 0;

    }
    height: 45rem;
    width: 48%;
    position: relative;
    margin-left: 3rem;
    transform: translateY(-10rem);
    & img{
        width: 116%;
        position: absolute;
        top: 3rem;
        left: 15rem;
        margin-bottom: 1rem;


    }
}